/*General*/
html{
    scroll-behavior: smooth;
}
body {
    font-family: "Roboto", sans-serif;
}

.tachado {
    text-decoration: line-through;
}

.fw-bold {
    font-weight: bold;
}

.t-center {
    text-align: center;
}

.v-middle {
    vertical-align: middle;
}

.c-center {
    width: 100%;
    display: flex;
    justify-content: center;
}
.c-center-v {
    display: flex;
    align-items: center;
}

.format1{
    color: #2699fb;
    font-weight: bold;
}

/*Barra de scroll*/

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #2699fb;
    border-radius: 2rem;
}

/*Hero*/

.hero{
    min-height: 100vh;
}

@media all and (max-width: 2560px){
    .hero img{
        width:550px;
    }
}

@media all and (max-width: 992px){
    .hero img{
        padding-top: 10%;
    }
}

@media all and (max-width: 800px){
    .hero img{
        width:450px;
        padding-top: 10%;
    }
}

@media all and (max-width: 700px){
    .hero img{
        width:300px;
        padding-top: 10%;
    }
}

/*Mobile about*/

.mobile-about {
    min-height: 100vh;
}

@media all and (max-width: 2560px){
    .mobile-about img{
        width:250px;
    }
}

@media all and (max-width: 992px){
    .mobile-about img{
        padding-top: 10%;
    }
}

@media all and (max-width: 400px){
    .mobile-about img{
        width:150px;
        padding-top: 10%;
    }
}

/*About the product*/
.about-product{
    min-height: 100vh;
}

.video-responsive {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}

.video-responsive iframe, .video-responsive object, .video-responsive embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/*About call*/
.about-call{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
@media all and (max-width: 992px){
    .about-call img{
        padding-top: 10%;
    }
}

.about-call h3, p {
    text-align: center;
}

/*Parte de Seccion_Student*/

@media screen and (min-width: 992px) {
    .seccion-student {
        height: 100vh;
        padding-top: 4rem;
    }
    .izquierda {
        transform: translateX(60px);
    }
    .derecha {
        transform: translateX(-60px);
    }
}

.tarjeta {
    padding: 4rem;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}

.izquierda {
    background-color: white;
}

.derecha {
    background-color: white;
}

.centro {
    background-color: white;
    position: relative;
    z-index: 3;
}

@media screen and (max-width: 1500px) and (min-width: 992px){
    .seccion-student{
        margin-bottom: 10%;
    }
}

@media screen and (min-width: 600px) and (min-height: 600px) {
    .tarjeta {
        height: 46rem;
    }
}

.divShadow {
    -webkit-box-shadow: 0px 3px 20px 4px rgba(36,55,98,0.2);
    -moz-box-shadow: 0px 3px 20px 4px rgba(36,55,98,0.2);
    box-shadow: 0px 3px 20px 4px rgba(36,55,98,0.2);
}

/*Seccion_Profesor*/
.tutor-profile h5{
    text-align: center;
}

.tutor-profile p{
    text-align: justify;
}

.tutor-profile i {
    font-size: 4rem;
    color: #2699FB;
    margin: 0 auto;
  }

/*Parte de Seccion Mision y Vision*/

@media screen and (min-width: 992px) {
    .mision {
        transform: translateX(40px);
    }
    .vision {
        transform: translateX(-40px);
    }
}

@media screen and (max-width: 992px) {
    .mision {
        margin-top: 20px;
    }
}

.seccion_MisionYVision {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("../img/Mision_Vision_Seccion/delvelop_work.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    color: white;
}

.mision {
    position: relative;
}

.vision {
    position: relative;
}

.seccion_MisionYVision:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: radial-gradient( rgba(36,55,98,0.2), rgba(36,55,98,0.5) 50%);
}

.circulo {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #2699FB;
    border-radius: 50%;
}

.circulo:after {
    content: "";
    padding-bottom: 100%;
}

.mision-vision-content {
    display: flex;
    align-items: center;
}

/* Nosotros */
.about-us{
    min-height: 100vh;
}
@media all and (max-width: 992px){
    .about-us img{
        padding-top: 10%;
    }
}

/*Integrantes*/
#integrantes{
    background-color: #F1F8FE;
    padding-top: 1rem;
}

.divFigure{
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divFigure figure{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(36,55,98,0.2);
}

.divFigure figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.divFigure figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(36,55,98,0.5);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.divFigure figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}

.divFigure figure .capa h4 {
    color: white;
    font-weight: 400;
    transition: all 500ms ease-out;;
    margin-bottom: 10%;
    margin-top: 50%;
}

.divFigure figure:hover > .capa h4 {
    margin-top: 25%;
    margin-bottom: 5%;
}

.divFigure figure .capa p {
    color: white;
    width: 100%;
    margin: auto;
}


/*Planes*/
@media (min-width: 600px) and (max-width:992px) {
    #divPlan3 {
        min-width: 100%
    }
}

/*Footer*/
footer {
    background-color: #243762 !important;
}
.page-footer a {
    color: white;
}